In [11]:
import pandas as pd
import seaborn as sns
import numpy as np

In [25]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic',
 'anagrams',
 'anagrams',
 'anscombe',
 'anscombe',
 'attention',
 'attention',
 'brain_networks',
 'brain_networks',
 'car_crashes',
 'car_crashes',
 'diamonds',
 'diamonds',
 'dots',
 'dots',
 'dowjones',
 'dowjones',
 'exercise',
 'exercise',
 'flights',
 'flights',
 'fmri',
 'fmri',
 'geyser',
 'geyser',
 'glue',
 'glue',
 'healthexp',
 'healthexp',
 'iris',
 'iris',
 'mpg',
 'mpg',
 'penguins',
 'penguins',
 'planets',
 'planets',
 'seaice',
 'seaice',
 'taxis',
 'taxis',
 'tips',
 'tips',
 'titanic',
 'titanic',
 'anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [13]:
k=[2,3,4,5,6,6]

In [14]:
pd.Series(k)

0    2
1    3
2    4
3    5
4    6
5    6
dtype: int64

In [15]:
a=np.random.randint(20,50,(5,4))
a

array([[40, 45, 42, 47],
       [39, 24, 31, 29],
       [35, 27, 33, 38],
       [33, 40, 48, 40],
       [47, 31, 47, 26]])

In [16]:
a.ndim

2

In [17]:
pd.DataFrame(a)

    0   1   2   3
0  40  45  42  47
1  39  24  31  29
2  35  27  33  38
3  33  40  48  40
4  47  31  47  26

In [23]:
df1=pd.DataFrame(a,columns=['id','age','marks','height'],index=['A001','A002','A003','A004','A005'])

In [24]:
df1

      id  age  marks  height
A001  40   45     42      47
A002  39   24     31      29
A003  35   27     33      38
A004  33   40     48      40
A005  47   31     47      26

In [35]:
df=sns.load_dataset('planets')

In [36]:
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [37]:
type(df)

pandas.core.frame.DataFrame

In [38]:
df.shape[1]

6

In [41]:
df.shape

(1035, 6)

In [42]:
df.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [44]:
import seaborn as sns

In [48]:
k=[1.2,2,3,4.5,56,7]

In [49]:
k

[1.2, 2, 3, 4.5, 56, 7]

In [50]:
pd.Series(k)

0     1.2
1     2.0
2     3.0
3     4.5
4    56.0
5     7.0
dtype: float64

In [53]:
'2025/064/21'

'2025/064/21'

In [56]:
'2025/01/21'

'2025/01/21'

In [61]:
df['year'].unique()

array([2006, 2008, 2011, 2007, 2009, 2002, 1996, 2010, 2001, 1995, 2004,
       2012, 2013, 2005, 2000, 2003, 1997, 1999, 2014, 1998, 1989, 1992,
       1994], dtype=int64)

In [62]:
df['mass']

0        7.10
1        2.21
2        2.60
3       19.40
4       10.50
        ...
1030      NaN
1031      NaN
1032      NaN
1033      NaN
1034      NaN
Name: mass, Length: 1035, dtype: float64

In [63]:
df['year']

0       2006
1       2008
2       2011
3       2007
4       2009
        ...
1030    2006
1031    2007
1032    2007
1033    2008
1034    2008
Name: year, Length: 1035, dtype: int64

In [64]:
df['orbital_period']

0       269.300000
1       874.774000
2       763.000000
3       326.030000
4       516.220000
           ...
1030      3.941507
1031      2.615864
1032      3.191524
1033      4.125083
1034      4.187757
Name: orbital_period, Length: 1035, dtype: float64

In [67]:
df['orbital_period'].unique()

array([2.69300000e+02, 8.74774000e+02, 7.63000000e+02, 3.26030000e+02,
       5.16220000e+02, 1.85840000e+02, 1.77340000e+03, 7.98500000e+02,
       9.93300000e+02, 4.52800000e+02, 8.83000000e+02, 3.35100000e+02,
       4.79100000e+02, 1.07800000e+03, 2.39100000e+03, 1.40020000e+04,
       4.23078500e+00, 1.46510000e+01, 4.43800000e+01, 4.90900000e+03,
       7.36540000e-01, 2.61200000e+02, 4.21500000e+00, 3.80210000e+01,
       1.23010000e+02, 1.16688400e+02, 6.91900000e+02, 9.52700000e+02,
       1.81400000e+02,            nan, 1.02200000e+04, 5.76700000e+03,
       3.32100000e+03, 5.57355000e+03, 2.88350000e+03, 2.90000000e+03,
       4.34350000e+03, 5.84000000e+03, 1.91625000e+03, 3.80800000e+02,
       3.23570000e+00, 6.00000000e+03, 2.50200000e+03, 4.17900000e+02,
       5.94900000e+02, 4.28500000e+02, 9.03300000e+02, 1.25100000e+03,
       1.36750000e+02, 5.30320000e+02, 3.18600000e+03, 2.77020000e+02,
       1.87830000e+02, 1.63000000e+03, 3.98450000e+01, 3.31350000e+00,
       3.05500000e+02, 4.61703300e+00, 2.41258000e+02, 1.27646000e+03,
       3.84886000e+03, 3.18280000e+05, 4.63915000e+03, 7.33650000e+03,
       8.67970000e+03, 6.55600000e+02, 7.14300000e+02, 3.48777000e+00,
       5.60000000e+00, 2.37600000e+02, 3.87280000e+00, 1.25940000e+02,
       2.68940000e+02, 1.37480000e+02, 3.79630000e+02, 6.21990000e+02,
       5.78200000e+02, 3.92600000e+02, 1.00375000e+04, 1.50895570e+00,
       1.74299350e+00, 4.25680000e+00, 9.20205000e+00, 4.03789620e+00,
       8.88659300e+00, 8.53585000e-01, 3.69800000e+00, 6.21229000e+00,
       9.52738000e+01, 1.32406000e+01, 2.99433000e+00, 2.82804200e+00,
       4.03519000e+00, 1.51214000e+00, 5.35227000e+00, 3.76810000e+00,
       1.90006930e+00, 3.89713000e+00, 9.24285000e+00, 3.63130000e+00,
       3.57532000e+00, 2.46360000e+02, 1.57649100e+01, 8.63100000e+00,
       2.56000000e+01, 6.03000000e+02, 2.28800000e+03, 6.92000000e+02,
       7.10000000e+03, 4.10000000e+03, 7.37090000e+00, 2.64385000e+00,
       5.36874000e+00, 1.29292000e+01, 6.68000000e+01, 3.14942000e+00,
       5.98300000e+02, 7.20040000e+00, 2.81400000e+01, 9.16100000e+01,
       6.22400000e+01, 3.90260000e+01, 2.56200000e+02, 4.69380000e+00,
       1.05030000e+03, 3.60000000e+00, 3.53700000e+01, 3.41600000e+03,
       1.84500000e+03, 6.11166000e+01, 3.00881000e+01, 1.93778000e+00,
       1.24260000e+02, 1.58040482e+00, 1.33710000e+02, 3.33714000e+00,
       2.64561000e+00, 4.46529340e+00, 5.63347290e+00, 2.89973600e+00,
       3.05653600e+00, 2.78849100e+00, 3.85298500e+00, 3.07637760e+00,
       3.92289000e+00, 3.21305980e+00, 2.91626000e+00, 4.62766900e+00,
       1.08635020e+01, 2.77596000e+00, 1.03385230e+01, 5.58400000e+03,
       5.50802300e+00, 4.00877800e+00, 2.87531700e+00, 4.12448100e+00,
       3.21222000e+00, 1.21288400e+00, 3.35524000e+00, 3.65283600e+00,
       4.23451600e+00, 3.03957700e+00, 3.25721500e+00, 5.72318600e+00,
       2.81059500e+00, 5.00542500e+00, 1.02200000e+03, 2.15000800e+00,
       3.47447400e+00, 5.45265400e+00, 3.64670600e+00, 1.32734700e+00,
       2.79743600e+00, 4.64038200e+00, 3.54387000e+00, 4.45724300e+00,
       2.69404700e+00, 4.64187800e+00, 3.33268700e+00, 2.69154800e+00,
       3.44645900e+00, 1.35413300e+00, 3.54785100e+00, 3.49700000e+02,
       6.00500000e+03, 5.77270000e+00, 1.35050000e+01, 4.31800000e+02,
       5.33000000e+02, 1.18300000e+03, 3.44420000e+00, 3.11600000e+02,
       6.22180000e+01, 5.26620000e+02, 8.29000000e+02, 1.56090000e+01,
       4.31880000e+02, 3.56000000e+02, 3.60200000e+02, 2.73200000e+03,
       6.75000000e+02, 7.77000000e+02, 7.92600000e+02, 1.77110000e+02,
       2.20900000e+01, 2.49600000e+03, 6.15000000e+02, 1.27500000e+03,
       4.04600000e+03, 5.39780000e+00, 1.31300000e+03, 2.27000000e+02,
       1.63400000e+03, 3.00520000e+01, 1.92900000e+02, 5.75962000e+00,
       1.63567000e+01, 4.97470000e+01, 1.22720000e+02, 6.02000000e+02,
       2.24800000e+03, 9.89200000e+02, 1.07520000e+03, 1.27020000e+03,
       1.70455000e+02, 7.11000000e+02, 1.94500000e+03, 3.79100000e+01,
       2.62709000e+02, 1.70800000e+03, 4.71600000e+02, 1.41820000e+01,
       5.38320000e+01, 1.93820000e+01, 9.31000000e+02, 4.21800000e+03,
       7.55230000e+01, 1.72400000e+01, 9.90000000e+02, 4.65100000e+02,
       3.59900000e+02, 2.12166300e+01, 7.72000000e+02, 4.66200000e+02,
       1.18490000e+01, 3.38230000e+01, 5.00000000e+02, 1.83150000e+01,
       4.01140000e+01, 9.03090000e+01, 2.91500000e+01, 8.51310000e+01,
       5.91900000e+02, 3.80850000e+02, 2.26560000e+01, 5.38810000e+01,
       1.21400000e+03, 7.38459000e+02, 5.28070000e+02, 1.56100000e+03,
       3.66800000e+03, 4.23841000e+02, 2.20800000e+03, 1.79910000e+01,
       1.11700000e+03, 3.85900000e+02, 3.87100000e+02, 2.81965400e+03,
       1.15920000e+03, 9.12000000e+02, 4.66000000e+02, 1.65460000e+01,
       5.12840000e+01, 2.74490000e+02, 3.26600000e+02, 1.81790000e+01,
       1.57540000e+02, 1.04900000e+03, 3.88000000e+02, 3.63200000e+02,
       1.54460000e+02, 2.29500000e+03, 8.43600000e+02, 2.06381800e+03,
       5.50000000e+01, 2.72000000e+03, 5.63630000e+00, 1.40250000e+01,
       3.39410000e+01, 1.43098000e+01, 2.14020000e+03, 6.96300000e+02,
       4.07150000e+02, 4.31230000e+00, 9.61840000e+00, 2.04320000e+01,
       3.46200000e+01, 5.17600000e+01, 1.97800000e+02, 2.64150000e+02,
       9.63000000e+02, 1.32830000e+00, 1.83570000e+01, 2.56480000e+01,
       3.27800000e+02, 2.37100000e+03, 3.69600000e+01, 4.72000000e+02,
       5.88720000e+00, 2.26930000e+02, 3.42850000e+02, 8.90760000e+02,
       4.36000000e+01, 3.02400000e+00, 4.08450000e+00, 1.35360000e+03,
       4.30000000e+02, 2.50000000e+03, 7.00000000e+02, 4.94370000e+00,
       2.58270000e+03, 1.27900000e+03, 1.40700000e+01, 9.54150000e+01,
       1.18960000e+02, 3.03000000e+02, 2.01830000e+02, 6.07060000e+02,
       2.81782200e+00, 5.89640000e+02, 3.58000000e+02, 5.72400000e+02,
       1.52600000e+02, 4.80500000e+02, 1.97300000e+03, 6.27600000e+00,
       8.66700000e+00, 3.15600000e+01, 1.97000000e+02, 8.51800000e+02,
       2.23100000e+03, 3.38300000e+03, 1.26000000e+03, 2.54858000e+00,
       1.88900000e+02, 3.79100000e+02, 1.80000000e+03, 5.16450000e+01,
       2.47300000e+03, 3.46600000e+02, 3.51000000e+00, 4.18200000e+02,
       3.97100000e+00, 5.73610000e+00, 1.96610000e+03, 1.11435700e+02,
       1.00170000e+03, 1.84020000e+02, 4.41470000e+02, 2.20078000e+02,
       7.05000000e+02, 2.98562500e+00, 7.88000000e+02, 5.84300000e+01,
       2.13750000e+00, 1.69500000e+03, 1.47500000e+03, 2.75400000e+03,
       3.41600000e+00, 2.15700000e+03, 2.56780000e+02, 4.97700000e+01,
       3.25810000e+02, 1.43580000e+02, 1.31860000e+01, 4.60250000e+01,
       5.07000000e+02, 3.61100000e+02, 4.98900000e+02, 6.47300000e+02,
       8.12560000e+00, 1.03490000e+02, 9.49400000e+00, 4.36900000e+02,
       4.95100000e+03, 4.39300000e+02, 1.70540000e+01, 4.97000000e+03,
       8.68000000e+02, 1.57570000e+02, 3.83700000e+02, 7.04600000e+01,
       2.08133000e+01, 4.11377500e+00, 1.27580000e+02, 5.20000000e+02,
       1.22100000e+02, 7.78100000e+02, 6.49500000e+00, 4.78400000e+01,
       5.88810000e+00, 5.58060000e+01, 1.99505000e+02, 1.53100000e+03,
       2.89000000e+03, 3.63000000e+03, 4.80560000e+01, 1.08985000e+01,
       4.43400000e+02, 3.95800000e+02, 1.62400000e+03, 6.82700000e+01,
       7.85430000e+00, 3.09300000e+01, 5.24000000e+00, 8.35477000e+02,
       1.14300000e+03, 3.24000000e+02, 2.63300000e+02, 1.65700000e+03,
       9.37700000e+02, 1.04600000e+03, 3.82700000e+03, 8.38880000e+01,
       4.93700000e+02, 1.11400000e+03, 6.70000000e+02, 2.59700000e+03,
       2.58270000e+01, 6.13350000e+00, 2.08200000e+03, 6.33300000e+01,
       3.44950000e+02, 5.59400000e+02, 4.15470000e+00, 3.00800000e+03,
       9.67370000e+00, 1.24400000e+03, 9.48120000e+02, 4.54200000e+02,
       9.23800000e+02, 1.84000000e+03, 1.07085000e+01, 1.95100000e+03,
       9.74000000e+02, 1.54400000e+03, 3.27000000e+00, 1.16090000e+03,
       2.58190000e+02, 5.00000000e+03, 1.20830000e+01, 5.95190000e+01,
       4.59260000e+02, 4.64300000e+02, 1.15770000e+01, 2.75820000e+01,
       1.06720000e+02, 3.30000000e+02, 1.12570000e+03, 6.53220000e+02,
       1.92800000e+03, 1.29900000e+03, 3.86300000e+02, 1.05700000e+03,
       1.76300000e+02, 1.03950000e+02, 4.42360000e+01, 1.00800000e+03,
       5.28400000e+02, 1.02700000e+03, 3.31500000e+02, 2.87589110e+00,
       4.07200000e+00, 2.39100000e+00, 1.09620000e+03, 2.09700000e+03,
       6.89000000e+02, 4.99400000e+02, 1.85960000e+01, 3.34200000e+03,
       1.63900000e+02, 4.08600000e+02, 3.45200000e+03, 1.94300000e+02,
       3.91900000e+02, 1.31050000e+02, 8.42000000e+02, 4.64550000e+00,
       3.59554600e+02, 1.04840000e+02, 5.21000000e+02, 1.26200000e+01,
       2.48400000e+02, 1.17840000e+03, 3.52300000e+02, 6.43250000e+02,
       4.20580000e+03, 9.63860000e+00, 3.10550000e+02, 8.42819800e+00,
       7.52900000e+01, 1.31400000e+03, 2.82400000e+02, 6.06400000e+02,
       1.15500000e+03, 5.14400000e+03, 4.20770000e+02, 5.81128900e+01,
       1.74950000e+03, 6.40300000e+00, 2.25620000e+02, 2.10200000e+03,
       1.14500000e+03, 5.38000000e+02, 1.52300000e+03, 3.23600000e+02,
       1.29000000e+03, 2.97300000e+02, 1.01600000e+03, 4.06600000e+02,
       1.10900000e+02, 7.14840000e+01, 1.44760000e+01, 3.09250000e+00,
       3.96030000e+02, 4.79000000e+02, 6.63000000e+02, 9.37430000e+00,
       9.62000000e+02, 2.17200000e+03, 9.56000000e+02, 6.34230000e+02,
       2.95000000e+03, 6.83800000e+00, 9.86000000e+02, 3.09700000e+00,
       3.81000000e+03, 4.56460000e+02, 1.42750000e+01, 2.21857578e+00,
       1.13610000e+03, 2.89100000e+03, 1.71000000e+01, 1.03810000e+03,
       4.88500000e+03, 2.43480000e+01, 7.47200000e+01, 5.25800000e+02,
       3.51500000e+02, 1.82016300e+01, 1.28900000e+03, 3.63800000e+03,
       1.33300000e+03, 1.03570000e+03, 6.13800000e+02, 8.25000000e+02,
       2.55870000e+02, 1.38340000e+03, 1.93100000e+03, 3.48730000e+01,
       2.83160000e+03, 1.73300000e+03, 2.79800000e+02, 6.10000000e+02,
       1.61970000e+02, 1.15570000e+03, 1.23000000e+02, 8.75500000e+02,
       3.52474859e+00, 4.42100000e+02, 3.54800000e+02, 2.24571500e+00,
       3.73300000e+02, 9.51000000e+02, 7.28250000e+00, 1.08660000e+01,
       1.91990000e+02, 2.27700000e+03, 3.93000000e+00, 5.67000000e+02,
       1.31100000e+03, 1.29400000e+03, 1.18450000e+02, 7.12681600e+00,
       4.27000000e+03, 1.31900000e+03, 2.25700000e+02, 5.50100000e+03,
       2.09330000e+03, 3.83350000e+00, 6.72100000e+02, 2.20900000e+03,
       3.72470000e+03, 4.56100000e+02, 3.99900000e+03, 5.72380000e+02,
       2.67300000e+01, 1.41600000e+02, 1.92000000e+02, 5.01750000e+02,
       7.45700000e+02, 2.44300000e+03, 8.78360000e+00, 3.36900000e+00,
       3.45720000e+02, 9.01780000e+03, 5.70000000e+01, 1.62000000e+01,
       6.67385500e+00, 1.47730000e+02, 9.52000000e+02, 4.13970000e+01,
       8.13520000e+00, 3.20300000e+01, 4.31700000e+02, 1.24600000e+02,
       1.73375000e+04, 5.11098000e+02, 1.11700000e+02, 5.05050000e+00,
       3.11288000e+02, 1.70000000e+05, 6.90000000e+04, 3.70000000e+04,
       1.80000000e+04, 1.21751400e+00, 4.11379120e+00, 2.70339040e+00,
       7.84570000e+00, 2.47063000e+00, 2.20473700e+00, 4.88781620e+00,
       3.21346000e+00, 3.54846000e+00, 3.23472300e+00, 4.88552500e+00,
       3.52254000e+00, 1.92400000e+01, 3.89100000e+01, 1.59285100e+00,
       8.37495000e-01, 4.52948500e+01, 1.03039000e+01, 1.30241000e+01,
       2.26845000e+01, 3.19996000e+01, 4.66888000e+01, 1.18380700e+02,
       4.43796370e+00, 1.76358920e+00, 6.79012300e+00, 4.94278200e+00,
       2.28776000e+02, 1.48571080e+00, 3.50472500e+00, 7.64159000e+00,
       1.48588800e+01, 9.28699440e+00, 1.60000000e+02, 3.69612190e+00,
       1.08540920e+01, 7.76118400e+01, 6.09849300e+00, 1.95770600e+01,
       2.78575500e+00, 2.89862300e+02, 7.10730000e+00, 1.07421000e+01,
       8.14530000e+00, 1.23335000e+01, 6.23850000e+00, 1.27204000e+01,
       1.22829000e+01, 1.72513000e+01, 1.53348000e+01, 3.13309000e+01,
       5.91230000e+00, 8.98580000e+00, 1.03376000e+01, 1.32907000e+01,
       2.93343400e+01, 6.03231050e+01, 1.43343940e+02, 2.08613000e+01,
       4.26318000e+01, 5.90124000e+00, 8.75220000e+00, 2.27802000e+01,
       2.89600000e+00, 7.42960000e-01, 5.66793000e+00, 1.31756200e+01,
       2.17759600e+01, 3.17844000e+01, 4.10290200e+01, 2.88822000e+02,
       1.31458000e+02, 1.38398900e+01, 1.62385500e+01, 1.33673080e+01,
       2.13018860e+01, 3.97921870e+01, 1.05599000e+02, 2.10874000e+01,
       6.87349000e+00, 1.85555800e+00, 1.21376720e+00, 4.53285090e-01,
       1.86516900e+00, 3.02409500e+00, 3.24674000e+00, 2.45523900e+00,
       3.36013400e+01, 5.70110000e+01, 4.95320000e+01, 3.03137000e+02,
       4.77798030e+00, 9.67392830e+00, 4.28961000e+01, 9.82000000e+02,
       7.20379450e+00, 1.09129343e+01, 7.81254000e+00, 9.37647000e+00,
       4.51540000e+01, 8.53120000e+01, 7.87735650e+00, 1.63850021e+01,
       1.86489525e+01, 3.85583038e+01, 8.01094340e+00, 1.20717249e+01,
       2.79481449e+01, 4.21516418e+01, 1.05016000e+01, 2.14023900e+01,
       5.72931960e+00, 1.16092567e+01, 1.02184954e+01, 1.55741568e+01,
       1.18681707e+01, 1.79801235e+01, 7.13161850e+00, 8.91934590e+00,
       1.19016171e+01, 5.98775600e+01, 5.71493200e+00, 1.24417000e+01,
       1.81640600e+01, 1.22387400e+02, 2.67291000e+02, 9.43415050e+00,
       1.38317000e+02, 2.15491000e+00, 5.85994400e+00, 8.13123000e+00,
       1.78158150e+01, 1.57259000e+01, 5.39876300e+00, 9.60508500e+00,
       5.80000000e+02, 1.37223410e+01, 2.42461300e+02, 2.40104000e-01,
       3.42887000e-01, 3.90512000e+00, 7.34071800e+00, 8.88492400e+00,
       1.54492875e+00, 3.57878087e+00, 3.55000000e-01, 1.34850000e+01,
       2.74020000e+01, 7.05300000e+00, 9.52200000e+00, 5.95500000e+00,
       1.20400000e+01, 2.64440000e+01, 5.15380000e+01, 9.77000000e+00,
       2.00900000e+01, 8.72600000e+00, 1.28830000e+01, 8.30600000e+00,
       1.25130000e+01, 2.82525500e+02, 1.14736350e+02, 1.91231800e+02,
       1.09541600e+01, 2.23395000e+01, 3.74320800e+00, 1.04236480e+01,
       2.23429890e+01, 5.43203100e+01, 7.00815100e+00, 8.71937500e+00,
       5.97366700e+01, 9.19391300e+01, 1.24914400e+02, 2.10606970e+02,
       3.31600590e+02, 6.24658000e+00, 1.37490000e+01, 2.67230000e+01,
       4.72674000e+00, 1.46000000e+03, 2.50806000e+00, 8.20300000e+02,
       1.15231000e+01, 1.62385000e+01, 2.58664000e+00, 7.89000000e+02,
       1.54168000e+00, 4.60358000e+00, 6.88705000e+00, 1.28159000e+01,
       3.53331000e+01, 5.28696000e+00, 7.07142000e+00, 1.03117000e+01,
       1.61457000e+01, 2.74536000e+01, 1.59654000e+01, 1.79612000e+02,
       5.41220000e+00, 6.16486000e+00, 1.35708000e+01, 2.39802000e+01,
       4.38445000e+01, 6.48163000e+00, 2.12227000e+01, 4.75400000e+00,
       8.92507000e+00, 8.04100000e+00, 1.17760000e+01, 1.50900000e+01,
       2.28040000e+01, 2.75086800e+01, 1.60920000e+01, 2.55169000e+01,
       1.37816400e+01, 2.30893300e+01, 2.29510000e+01, 4.28820000e+01,
       3.68550000e+01, 4.94120000e+01, 2.36540000e+01, 5.04470000e+01,
       3.18840000e+01, 4.86480000e+01, 1.73240000e+01, 3.30060000e+01,
       3.57360000e+01, 5.44140000e+01, 2.48060000e+01, 4.43470000e+01,
       5.48700000e+00, 8.29100000e+00, 1.04160000e+01, 1.30840000e+01,
       3.49210000e+01, 7.13120000e+01, 1.78490000e+01, 2.61360000e+01,
       4.29940000e+01, 8.85050000e+01, 2.42629000e+00, 4.62332000e+00,
       6.69310000e-01, 3.00000000e+03, 2.46502000e+00, 6.89584000e+01,
       1.78336480e+01, 3.00516000e+00, 1.72086123e+00, 6.62620000e+01,
       4.00000000e+04, 3.91405000e+00, 2.78000000e+03, 1.97000000e+03,
       6.77800000e+02, 6.95800000e+00, 5.11800000e+00, 1.21710000e+02,
       3.60000000e+03, 3.30000000e+03, 3.50000000e+03, 1.82500000e+03,
       5.10000000e+03, 2.48553350e+00, 3.10127800e+00, 1.21191890e+00,
       4.01610000e+00, 1.43247520e+00, 1.68986800e+00, 3.97910000e+00,
       3.67724000e+00, 7.30000000e+05, 3.16062960e+00, 4.42640000e+00,
       2.14510000e+00, 2.52620000e+01, 6.65419000e+01, 9.82114000e+01,
       3.65250000e+04, 9.07062900e-02, 1.42003300e+00, 1.33711820e+00,
       4.20000000e+00, 1.79600000e+00, 3.03006500e+00, 1.30618581e+00,
       3.55394500e+00, 1.48224460e+00, 1.17000000e+03, 2.51994490e+00,
       2.15222600e+00, 1.84683500e+00, 1.33823187e+00, 1.62843142e+00,
       3.36100600e+00, 4.95465800e+00, 8.15871500e+00, 3.09276160e+00,
       3.72247470e+00, 1.09142300e+00, 4.35301100e+00, 2.24375200e+00,
       3.75206560e+00, 3.11860090e+00, 3.73544170e+00, 9.41452990e-01,
       7.88840000e-01, 4.32248200e+00, 3.53273130e+00, 2.94442560e+00,
       2.34121242e+00, 3.76482500e+00, 2.75660040e+00, 3.40882100e+00,
       3.92272700e+00, 3.40590960e+00, 2.71865900e+00, 1.21986690e+00,
       4.31767820e+00, 3.16157500e+00, 1.53736530e+00, 3.57746900e+00,
       6.87181500e+00, 4.05525900e+00, 3.05240100e+00, 4.98168720e+00,
       8.13475000e-01, 2.42380390e+00, 3.12608760e+00, 1.43037000e+00,
       4.15913990e+00, 2.14363400e+00, 2.78173870e+00, 1.95509590e+00,
       1.74977980e+00, 3.69364110e+00, 4.46563300e+00, 4.61710100e+00,
       2.83897100e+00, 5.01718000e+00, 7.91958500e+00, 4.30500110e+00,
       3.85590000e+00, 4.41195300e+00, 4.37809000e+00, 1.57329180e+00,
       2.31142430e+00, 4.08605200e+00, 4.61442000e+00, 2.90367470e+00,
       2.21674210e+00, 2.48419300e+00, 1.36003090e+00, 2.17517632e+00,
       3.66238660e+00, 3.06785040e+00, 9.25542000e-01, 3.35205700e+00,
       3.94150685e+00, 2.61586400e+00, 3.19152390e+00, 4.12508280e+00,
       4.18775700e+00])

In [68]:
df['orbital_period'].value_counts()

orbital_period
1845.000000    2
428.500000     2
123.000000     2
883.000000     2
10.854092      1
              ..
31.560000      1
197.000000     1
851.800000     1
2231.000000    1
4.187757       1
Name: count, Length: 988, dtype: int64

In [69]:
6433-(43354+9784)

-46705

In [70]:
1035-(513+808)

-286

In [71]:
df['orbital_period'].std()

26014.72830406252

In [72]:
df['orbital_period'].var()

676766088.7341915

In [73]:
df['orbital_period'].mean()

2002.9175960947582

In [74]:
df['orbital_period'].max()

730000.0

In [75]:
df['orbital_period'].min()

0.09070629

In [76]:
df['orbital_period'].median()

39.9795

In [77]:
df['orbital_period'].mode()

0     123.0
1     428.5
2     883.0
3    1845.0
Name: orbital_period, dtype: float64